@model WebOptimus.Models.ViewModel.Admin.AdminChangePasswordViewModel
@using WebOptimus.Extensions
@using WebOptimus.StaticVariables
@{

    ViewData["Title"] = "Change User Password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row col-sm-12">
            <div class="col-sm-6">
                <h1>Change Password for <strong> @Model.FirstName  @Model.LastName</strong>  </h1>
        
            </div>

                  
        </div>
       
    </div><!-- /.container-fluid -->
  
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <form method="post" asp-action="ChangeUserPassword" asp-controller="Admin">
            <div class="row">
            <!-- left column -->

            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-info">
                  
                    <div class="card-header">
                        <h3 class="card-title">New Password Details</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                        <input hidden name="UserId" asp-for="@Model.UserId" id="getId" />
                        <input hidden name="PersonRegNumber" asp-for="@Model.PersonRegNumber" />
                    <div class="card-body">
                           
                            <input type="hidden" asp-for="UserId" />
                            <input type="hidden" asp-for="PersonRegNumber" />
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input type="email" asp-for="Email" readonly class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewPassword" class="control-label"></label>
                                <input type="password" asp-for="NewPassword" class="form-control" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="ForcePasswordChange" value="true" checked />
                                <strong> Forced user to change their password when they login?</strong>

                            </div>
                            <div class="ml-auto mt-4 ">
                                <small class="btn btn-dark signInText" style="float:right;"><a class="signInText" style="cursor: pointer; color:#fff !important;  text-decoration: none;  float:right;" asp-action="Users" asp-controller="Admin">Cancel</a></small>
                                <small> <button type="submit" class="btn btn-success justify-content-end signInText" style="cursor: pointer; color:#fff !important;  text-decoration: none;"> Change Password</button></small>
                            </div>
                      

                    </div>

                </div>
                <!-- /.card -->


            </div>
            <!--/.col (left) -->
            <!-- left column -->
       
        </div>
        </form>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->


<style>
    .textarea {
        pointer-events: none;
    }
</style>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   
}