@using WebOptimus.StaticVariables
@if (TempData[SD.Error] != null)
{
    <div class="alert alert-danger animated-message">
        @TempData[SD.Error]
    </div>
}

@if (TempData[SD.Success] != null)
{
    <div class="alert alert-success animated-message">
        @TempData[SD.Success]
    </div>
}

@if (TempData[SD.Warning] != null)
{
    <div class="alert alert-warning animated-message">
        @TempData[SD.Warning]
    </div>
}