@model WebOptimus.Models.ViewModel.ForgetPasswordViewModel
@using WebOptimus.StaticVariables
@{
    ViewData["Title"] = "Login";
}



<div class="slider-section"
     style="background-image: url('/assets/img/Flag-of-Tanzania.png'); background-repeat: no-repeat; background-position: center; background-size: cover; width: 100%; height: 400px; margin: 0; padding: 0; position: relative;">
    <div class="slider-container" style="width: 100%; height: 100%;">
        <div class="slider-text" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin: 0;">
            <h1 class="animated-text" style="color: #fff!important">Reset Your Password</h1>
        </div>
    </div>
</div>


<div class="section section-padding">
    <div class="container">
        <div class="row mb-n5">

            <div class="col-lg-5 col-12 mb-5">
                <div class="contact-information">
                    <h2 class="contact-title">Reset Password</h2>
                    <p>Please enter your registered email address and we will send you a link to reset your password. </p>

                </div>
            </div>
            <div class="col-lg-7 col-12 mb-5">
                <div class="contact-form">
                    <h5 class="title mb-4"></h5>

                    @if (TempData[SD.Error] != null)
                    {
                        <div class="alert alert-danger animated-message">
                            @TempData[SD.Error]
                        </div>
                    }

                    @if (TempData[SD.Success] != null)
                    {
                        <div class="alert alert-success animated-message">
                            @TempData[SD.Success]
                        </div>
                    }
                    <form asp-action="ForgetPassword" asp-controller="Account" method="post" autocomplete="false" id="signup-form">
                        <div class="row mb-n3">
                            <div class="col-12 mb-3">
                                <input type="email" class="form-control" id="email" name="Email" asp-for="Email" placeholder="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>




                            <div class="col-12 mb-3">
                                <button type="submit" class="btn btn-style px-5">Submit</button>
                            </div>
                        
                            <div class="col-12">
                                <div class="d-flex justify-content-between">

                                    <small>Remember your password?  <a class="justify-content-end signInText" style="cursor: pointer; color:#212529 !important;  text-decoration: underline;" asp-action="Login" asp-controller="Account"> Sign In</a></small>

                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />

    <style>
        .signInText {
            color: #262b30 !important;
        }

        .signInText:hover {
            text-decoration: underline;
        }

        small {
            color: #262b30 !important;
        }
    </style>
}