@model WebOptimus.Models.ViewModel.CityViewModel
@using WebOptimus.Extensions
@{
    ViewData["Title"] = "Add City";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Add City</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <a class="btn btn-xs btn-outline-primary float-md-right" style="width:100px;float:right; text-align: center;" onclick="@("window.location.href='" + @Url.Action("Index", "City") + "'");"><i class="fas fa-arrow-left"></i>  Back </a>

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->


<form method="post" asp-action="AddCity" id="myForm" onsubmit="sendForm(event)">
    <div class="row">
        <div class="col-8 border-right">
        <div class="col-md-6">
            <div class="form-group position-relative">
                <label>Region  <span class="text-danger">*</span></label>
                <select id="ddlCategorylist" asp-for="Cities.RegionId" asp-items="Model.RegionList.ToSelectListItem(Model.Cities.RegionId)" class="form-control"></select>
                <span asp-validation-for="Cities.Name" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group position-relative">
                <label>City Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Name" asp-for="Cities.Name">
                <span asp-validation-for="Cities.Name" class="text-danger"></span>
            </div>

        </div>

            <div class="col-md-12">
                <button type="submit" class="btn btn-success w-5">Save</button>

            </div>

        </div>

        <div class="col-3 offset-1">
            @if (Model.CityList.Count() > 0)
            {
                <p> Existing Cities: </p>

                <div id="SubCategoryList">
                    <ul class="list-group"></ul>
                </div>
            }
        </div>

   


    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        function updateSubCategoryList() {
            var categorySelected = document.getElementById("ddlCategorylist").value;

            $list = $('#SubCategoryList');

            $.ajax({
                url: '/City/GetCity/' + categorySelected,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    $list.append(' <ul class="list-group"> ');
                    for (i in results) {
                        $list.append('<li class="list-group-item">' + results[i].text + '</li>');
                    }
                    $list.append('</ul>');
                }

            });

        }

        $(document).ready(function () {
            updateSubCategoryList();
        });

        $("#ddlCategorylist").on("change", function () {
            updateSubCategoryList();
        });


    </script>


}