@media (max-width: 768px) {
    .fund-item-text {
        flex-wrap: wrap; /* Ensure the fund text wraps on smaller devices */
        text-align: center;
    }

        .fund-item-text .col {
            width: 100%; /* Make each item take the full width on smaller screens */
            margin-bottom: 10px;
        }
}

@media (min-width: 769px) {
    .donation-card {
        max-width: 800px; /* Set a wider max width on larger screens */
    }
}